[run]
source = 
    common
    manager
    downloader
    translator

omit = 
    */venv/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */site-packages/*
    */conftest.py
    */debug_*.py

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
    @abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml

